@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-heebo), Heebo, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 4px;
  }
}
